<!DOCTYPE html>
<html>
    <title>
        SENTIMENTAL ANALYSIS
    </title>
     <style>
        body{text-align:center}
     </style>
    <body bgcolor="#484848">
        <form action="." method="post" >
       <h1> <font color="Whitesmoke" size="40">SENTIMENT ANALYSIS </font>
       </h1>

       <p1 style="font-size:100px">&#128545; &#128544; &#128528; &#128512; &#128516; </p1>
       <br>
       <br>
       <br><br>


       <center>
       <label for="Text">Text:</label>
        <input type="text" id="Text" name="Text" style="width: 400px; height: 100px;"><br>
             <br><br>
        
        <input id="text" type="submit" class="submit" name="sub" value=" ANALYSE " style="height:50px; width:200px">
        <br><br><br>

        <p1 style="font-size:100px">&#128545; &#128544; &#128528; &#128512; &#128516; </p1>

        </center>
        </form>

        <h1 class="output">{{message}}</h1>
    </body>
</html>